In [3]:
import pandas as pd
import os
import tqdm

In [13]:
result = pd.DataFrame(columns = ['Unnamed: 0', 'GenName', 'GenID', 'OrganismName', 'Taxonomy', 'Strand', 'TTT','TTC','TTA','TTG','TCT','TCC','TCA','TCG','TAT','TAC','TGT','TGC','TGA','TGG','CTT','CTC','CTA','CTG','CCT','CCC','CCA','CCG','CAT','CAC','CAA','CAG','CGT','CGC','CGA','CGG','ATT','ATC','ATA','ATG','ACT','ACC','ACA','ACG','AAT','AAC','AAA','AAG','AGT','AGC','AGA','AGG','GTT','GTC','GTA','GTG','GCT','GCC','GCA','GCG','GAT','GAC','GAA','GAG','GGT','GGC','GGA','GGG','TAA','TAG'])
result

Empty DataFrame
Columns: [Unnamed: 0, GenName, GenID, OrganismName, Taxonomy, Strand, TTT, TTC, TTA, TTG, TCT, TCC, TCA, TCG, TAT, TAC, TGT, TGC, TGA, TGG, CTT, CTC, CTA, CTG, CCT, CCC, CCA, CCG, CAT, CAC, CAA, CAG, CGT, CGC, CGA, CGG, ATT, ATC, ATA, ATG, ACT, ACC, ACA, ACG, AAT, AAC, AAA, AAG, AGT, AGC, AGA, AGG, GTT, GTC, GTA, GTG, GCT, GCC, GCA, GCG, GAT, GAC, GAA, GAG, GGT, GGC, GGA, GGG, TAA, TAG]
Index: []

[0 rows x 70 columns]

In [14]:
direct = r'C:\Users\e_mulciber\Desktop\MitoClub\devil-worm\Body\2Derived\codon_usage'
dirname = os.listdir(direct)

In [15]:
for file in dirname:
    try:
        df = pd.read_csv((os.path.join(direct, file)), sep='\t')
        result = result.append(df, ignore_index=True)
    except:
        pass

In [25]:
result.tail(50)

,Unnamed: 0,GenName,GenID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GAT,GAC,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG
404,10,ND6,YP_009162841.1,Gnathostoma spinigerum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,26,0,4,21,...,1,0,0,0,6,0,0,2,0,1
405,11,ND4L,YP_009162842.1,Gnathostoma spinigerum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,15,0,4,6,...,2,0,1,2,2,0,1,2,0,1
406,0,ND4L,YP_009346442.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,11,0,12,5,...,0,0,1,1,2,0,0,4,1,0
407,1,ND5,YP_009346443.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",1,44,17,45,10,...,5,1,8,0,2,1,10,6,1,0
408,2,ND6,YP_009346444.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",1,13,0,12,2,...,0,1,4,1,0,0,2,1,1,0
409,3,COX3,YP_009346445.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,23,12,18,8,...,1,2,4,2,2,4,6,4,0,1
410,4,ND1,YP_009346446.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,24,4,30,4,...,3,0,7,3,7,2,7,2,1,0
411,5,COX1,YP_009346447.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",1,40,4,51,10,...,8,3,2,2,12,1,24,7,1,0
412,6,CYTB,YP_009346448.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,35,16,20,6,...,8,0,3,3,5,2,15,2,1,0
413,7,ATP6,YP_009346449.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,28,3,25,8,...,0,0,5,1,2,1,3,1,1,0
414,8,ND4,YP_009346450.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,35,10,31,12,...,1,2,3,2,6,1,11,4,1,0
415,9,ND2,YP_009346451.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,32,5,30,12,...,0,0,1,3,3,0,6,2,0,1
416,10,COX2,YP_009346452.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,12,5,20,3,...,9,0,3,6,6,2,3,4,1,0
417,11,ND3,YP_009346453.1,Xiphinema rivesi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Enopl...",-1,15,2,11,8,...,3,0,1,4,1,0,3,0,0,1
418,0,COX1,YP_009445828.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,49,0,17,51,...,14,1,4,4,30,3,5,12,0,1
419,1,COX2,YP_009445829.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,19,0,11,20,...,11,0,2,8,7,1,1,5,0,1
420,2,ND3,YP_009445830.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,18,0,2,14,...,2,1,0,3,5,0,2,1,0,1
421,3,ND5,YP_009445831.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,82,5,24,47,...,12,1,2,6,21,0,6,8,0,0
422,4,ND6,YP_009445832.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,23,1,9,11,...,2,0,1,0,4,0,1,1,0,1
423,5,ND4L,YP_009445833.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,15,0,3,8,...,1,0,0,2,1,0,1,2,1,0
424,6,ND1,YP_009445834.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,42,0,18,23,...,4,0,5,7,10,0,2,4,0,1
425,7,ATP6,YP_009445835.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,27,0,8,25,...,3,0,5,3,9,0,1,1,1,0
426,8,ND2,YP_009445836.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,53,2,11,36,...,6,0,1,3,4,1,1,2,0,0
427,9,CYTB,YP_009445837.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,52,2,16,29,...,7,1,1,7,12,0,3,6,0,1
428,10,COX3,YP_009445838.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,44,1,11,19,...,5,0,3,2,17,0,3,3,0,1
429,11,ND4,YP_009445839.1,Parascaris equorum,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,65,4,19,30,...,4,1,5,3,9,3,5,13,1,0
430,0,Cox1,Cox1,Diploscapter pachys (synthetic DNA construct),NaN,1,50,0,57,7,...,16,0,6,0,42,0,5,2,1,0
431,1,COX2,COX2,Diploscapter pachys (synthetic DNA construct),NaN,1,29,0,26,10,...,11,1,4,2,8,0,0,0,1,0
432,2,ND3,ND3,Diploscapter pachys (synthetic DNA construct),NaN,1,33,0,10,4,...,4,0,3,0,4,1,1,0,1,0
433,3,Dpa-nduo-5,Dpa-nduo-5,Diploscapter pachys (synthetic DNA construct),NaN,1,147,5,42,23,...,10,0,3,1,16,0,2,0,1,0
434,4,Dpa-nduo-6,Dpa-nduo-6,Diploscapter pachys (synthetic DNA construct),NaN,1,46,1,10,10,...,1,0,0,0,7,0,0,0,0,0
435,5,Dpa-ndfl-4,Dpa-ndfl-4,Diploscapter pachys (synthetic DNA construct),NaN,1,28,0,8,4,...,1,0,2,0,3,0,0,0,0,0
436,6,Dpa-nduo-1,Dpa-nduo-1,Diploscapter pachys (synthetic DNA construct),NaN,1,71,0,23,17,...,3,0,6,3,8,0,3,1,0,0
437,7,Dpa-atp-6,Dpa-atp-6,Diploscapter pachys (synthetic DNA construct),NaN,1,45,2,18,6,...,3,0,4,3,5,0,1,0,0,0
438,8,Dpa-nduo-2,Dpa-nduo-2,Diploscapter pachys (synthetic DNA construct),NaN,1,103,3,26,8,...,2,1,2,1,4,0,1,0,0,0
439,9,Dpa-ctb-1,Dpa-ctb-1,Diploscapter pachys (synthetic DNA construct),NaN,1,63,2,46,6,...,7,0,5,1,18,0,2,0,0,0
440,10,Dpa-ctc-3,Dpa-ctc-3,Diploscapter pachys (synthetic DNA construct),NaN,1,49,1,20,12,...,7,0,6,0,17,0,1,0,0,0
441,11,ND4,ND4,Diploscapter pachys (synthetic DNA construct),NaN,1,109,4,49,15,...,5,0,5,2,11,1,3,1,0,0
442,0,COX1,COX1,Halicephalobus mephisto,NaN,1,45,1,45,19,...,16,0,4,3,46,0,2,0,1,0
443,1,COX2,COX2,Halicephalobus mephisto,NaN,1,20,1,23,8,...,10,0,8,1,7,2,1,0,1,0
444,2,ND3,ND3,Halicephalobus mephisto,NaN,1,22,1,10,7,...,1,0,3,1,5,0,0,0,1,0
445,3,ND5,ND5,Halicephalobus mephisto,NaN,1,123,0,45,21,...,9,0,4,2,15,2,0,1,1,0
446,4,ND6,ND6,Halicephalobus mephisto,NaN,1,34,0,13,5,...,2,0,0,0,4,0,0,0,1,0
447,5,ND4L,ND4L,Halicephalobus mephisto,NaN,1,17,0,11,1,...,1,0,1,0,0,1,1,0,1,0
448,6,ND1,ND1,Halicephalobus mephisto,NaN,1,52,2,27,15,...,3,0,9,2,11,0,1,0,1,0
449,7,ATP6,ATP6,Halicephalobus mephisto,NaN,1,27,1,19,5,...,3,0,7,1,6,0,0,0,1,0
450,8,ND2,ND2,Halicephalobus mephisto,NaN,1,64,0,22,8,...,2,0,1,2,7,0,4,0,1,0
451,9,CYTB,CYTB,Halicephalobus mephisto,NaN,1,66,0,29,12,...,7,0,5,1,16,1,0,0,1,0
452,10,COX3,COX3,Halicephalobus mephisto,NaN,1,43,1,27,6,...,7,0,4,2,18,1,0,0,0,1
453,11,ND4,ND4,Halicephalobus mephisto,NaN,1,80,1,42,9,...,4,0,8,0,16,2,2,0,0,1

In [26]:
result['OrganismName'].unique()

array(['Brugia malayi', 'Bursaphelenchus xylophilus',
       'Panagrellus redivivus', 'Steinernema carpocapsae',
       'Steinernema glaseri', 'Steinernema litorale', 'Loa loa',
       'Halicephalobus gingivalis', 'Caenorhabditis nigoni',
       'Diploscapter coronatus', 'Acrobeloides varius',
       'Halicephalobus sp. NKZ332', 'Caenorhabditis elegans',
       'Trichinella spiralis', 'Xiphinema americanum',
       'Thaumamermis cosgrovei', 'Strelkovimermis spiculatus',
       'Agamermis sp. BH-2006', 'Heterorhabditis bacteriophora',
       'Romanomermis culicivorax', 'Romanomermis nielseni',
       'Romanomermis iyengari', 'Hexamermis agrotis',
       'Haemonchus contortus', 'Enterobius vermicularis', 'Homo sapiens',
       'Trichuris suis', 'Trichuris ovis', 'Toxascaris leonina',
       'Drosophila melanogaster', 'Trichinella britovi',
       'Trichinella murrelli', 'Gnathostoma spinigerum',
       'Xiphinema rivesi', 'Parascaris equorum',
       'Diploscapter pachys (synthetic DNA construct)',
       'Halicephalobus mephisto'], dtype=object)

In [27]:
gainers = ['CCT', 'CCC', 'CCA', 'CCG', 'ACT', 'ACC', 'ACA', 'ACG', 'CAT', 'CAC', 'CAA', 'CAG', 'AAT', 'AAC', 'AAA', 'AAG']
losers = ['TTT', 'TTC', 'TTA', 'TTG', 'GTC', 'GTA', 'GTG', 'GTT', 'TGT', 'TGC', 'TGA', 'TGG', 'GGT', 'GGC', 'GGA', 'GGG']
intermediates = ['TCT', 'TCC', 'TCA', 'TCG', 'TAT', 'TAC', 'TAA', 'TAG', 'GCT', 'GCC', 'GCA', 'GCG', 'GAT', 'GAC', 'GAA', 'GAG', 'CTT', 'CTC', 'CTA', 'CTG', 'ATT', 'ATC', 'ATA', 'ATG', 'CGT', 'CGC', 'CGA', 'CGG', 'AGT', 'AGC', 'AGA', 'AGG']

In [28]:
result.loc[:, 'TTT':'TAG'] = result.loc[:, 'TTT':'TAG'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [29]:
result['Gainers'] = (result.loc[:, result.columns.isin(gainers)].sum(axis=1)) / (result.loc[:, 'TTT':'TAG'].sum(axis=1))
result['Losers'] = (result.loc[:, result.columns.isin(losers)].sum(axis=1)) / (result.loc[:, 'TTT':'TAG'].sum(axis=1))
result

,Unnamed: 0,GenName,GenID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG,Gainers,Losers
0,0,nad2,AAN17804.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,61,1,21,26,...,0,4,12,1,1,2,0,0,0.113879,0.594306
1,1,nad4,AAN17805.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,82,1,31,21,...,3,6,13,3,5,1,1,0,0.095122,0.529268
2,2,cox1,AAN17806.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,57,2,29,23,...,3,4,40,4,7,4,0,1,0.198543,0.418944
3,3,nad6,AAN17807.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,35,0,12,8,...,0,0,5,2,0,0,1,0,0.059603,0.543046
4,4,cob,AAN17808.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,57,1,26,12,...,3,1,12,2,1,5,0,0,0.151934,0.447514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,7,ATP6,ATP6,Halicephalobus mephisto,NaN,1,27,1,19,5,...,7,1,6,0,0,0,1,0,0.149254,0.383085
450,8,ND2,ND2,Halicephalobus mephisto,NaN,1,64,0,22,8,...,1,2,7,0,4,0,1,0,0.156463,0.459184
451,9,CYTB,CYTB,Halicephalobus mephisto,NaN,1,66,0,29,12,...,5,1,16,1,0,0,1,0,0.154472,0.463415
452,10,COX3,COX3,Halicephalobus mephisto,NaN,1,43,1,27,6,...,4,2,18,1,0,0,0,1,0.155894,0.494297
453,11,ND4,ND4,Halicephalobus mephisto,NaN,1,80,1,42,9,...,8,0,16,2,2,0,0,1,0.128641,0.439320

In [32]:
# процент каноничных генов
canon = result['GenName'].loc[result['GenName'].isin(['ND1', 'ND2', 'ND3', 'ND4', 'ND4L', 'ND5', 'ND6', 'COX1', 'COX2', 'COX3', 'CYTB', 'ATP6', 'ATP8'])].value_counts().sum()
print(canon * 100 / 454)

89.64757709251101

In [33]:
result.to_csv(r'C:\Users\e_mulciber\Desktop\MitoClub\devil-worm\Body\2Derived\CodonUsageDerived.csv', sep=';')

In [1]:
from Bio import SeqIO
from Bio.Seq import Seq

In [4]:
gb = SeqIO.read('/home/emulciber/MitoClub/devil-worm/Body/2Derived/halicephalobus_mephisto.gb', format='genbank')
hm_seq = gb.seq

/home/emulciber/anaconda3/lib/python3.8/site-packages/Bio/GenBank/Scanner.py:1218: BiopythonParserWarning: Premature end of file in sequence data
  warnings.warn(

In [5]:
hm_a = hm_seq.count('A')
hm_g = hm_seq.count('G')
hm_t = hm_seq.count('T')
hm_c = hm_seq.count('C')

print('Nucleotide content in Halicephalobus mephisto mtDNA:', f'A = {hm_a}', f'T = {hm_t}', f'G = {hm_g}', f'C = {hm_c}', sep='\n')

Nucleotide content in Halicephalobus mephisto mtDNA:
A = 3999
T = 7623
G = 1756
C = 971

In [4]:
rscu = pd.DataFrame(columns = ['Unnamed: 0', 'GenName', 'GenID', 'OrganismName', 'Taxonomy', 'Strand', 'TTT','TTC','TTA','TTG','TCT','TCC','TCA','TCG','TAT','TAC','TGT','TGC','TGA','TGG','CTT','CTC','CTA','CTG','CCT','CCC','CCA','CCG','CAT','CAC','CAA','CAG','CGT','CGC','CGA','CGG','ATT','ATC','ATA','ATG','ACT','ACC','ACA','ACG','AAT','AAC','AAA','AAG','AGT','AGC','AGA','AGG','GTT','GTC','GTA','GTG','GCT','GCC','GCA','GCG','GAT','GAC','GAA','GAG','GGT','GGC','GGA','GGG','TAA','TAG'])
direct_rscu = '/home/emulciber/MitoClub/devil-worm/Body/2Derived/codon_usage_rscu'
dirname_rscu = os.listdir(direct_rscu)
for file in dirname_rscu:
    try:
        df = pd.read_csv((os.path.join(direct_rscu, file)), sep='\t')
        rscu = rscu.append(df, ignore_index=True)
    except:
        pass
rscu

,Unnamed: 0,GenName,GenID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,...,GAT,GAC,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG
0,0,ND1,YP_002261314.1,Enterobius vermicularis,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,2.000000,0.000000,1.636364,4.090909,...,1.500000,0.500000,0.600000,1.400000,2.880000,0.000000,0.160000,0.960000,0.0,1.0
1,1,ATP6,YP_002261315.1,Enterobius vermicularis,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,2.000000,0.000000,2.444444,2.888889,...,2.000000,0.000000,0.571429,1.428571,3.200000,0.000000,0.266667,0.533333,0.0,0.0
2,2,ND2,YP_002261316.1,Enterobius vermicularis,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.953488,0.046512,2.716981,3.169811,...,2.000000,0.000000,0.333333,1.666667,2.200000,0.200000,0.600000,1.000000,0.0,0.0
3,3,ND6,YP_002261317.1,Enterobius vermicularis,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,2.000000,0.000000,2.333333,2.666667,...,1.333333,0.666667,0.000000,2.000000,2.800000,0.000000,1.200000,0.000000,1.0,0.0
4,4,CYTB,YP_002261318.1,Enterobius vermicularis,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.904762,0.095238,3.056604,2.377358,...,1.666667,0.333333,1.111111,0.888889,1.280000,0.320000,1.440000,0.960000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,7,COX2,BAV78683.1,Steinernema litorale,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.777778,0.222222,1.818182,1.454545,...,1.555556,0.444444,0.545455,1.454545,2.933333,0.266667,0.266667,0.533333,1.0,0.0
450,8,ND3,BAV78684.1,Steinernema litorale,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.750000,0.250000,1.714286,1.714286,...,2.000000,0.000000,0.000000,2.000000,2.000000,0.666667,0.666667,0.666667,1.0,0.0
451,9,ND5,BAV78685.1,Steinernema litorale,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.747126,0.252874,2.341463,1.756098,...,1.333333,0.666667,0.666667,1.333333,2.482759,0.413793,0.413793,0.689655,0.0,1.0
452,10,ND6,BAV78686.1,Steinernema litorale,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.655172,0.344828,2.160000,1.920000,...,2.000000,0.000000,0.000000,0.000000,1.333333,0.000000,1.333333,1.333333,1.0,0.0
453,11,ND4L,BAV78687.1,Steinernema litorale,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,1.857143,0.142857,2.181818,1.090909,...,2.000000,0.000000,2.000000,0.000000,2.666667,1.333333,0.000000,0.000000,0.0,1.0

In [5]:
rscu.to_csv('/home/emulciber/MitoClub/devil-worm/Body/2Derived/CodonUsageDerived_RSCU.csv', sep=';', index=False)

In [22]:
df_plot = pd.DataFrame(columns = ['Amino acids', 'Codon'])

In [23]:
df_plot['Codon'] = ['TTT','TTC','TTA','TTG','TCT','TCC','TCA','TCG','TAT','TAC','TGT','TGC','TGA','TGG','CTT','CTC','CTA','CTG','CCT','CCC','CCA','CCG','CAT','CAC','CAA','CAG','CGT','CGC','CGA','CGG','ATT','ATC','ATA','ATG','ACT','ACC','ACA','ACG','AAT','AAC','AAA','AAG','AGT','AGC','AGA','AGG','GTT','GTC','GTA','GTG','GCT','GCC','GCA','GCG','GAT','GAC','GAA','GAG','GGT','GGC','GGA','GGG']

In [24]:
df_plot['Amino acids'] = df_plot['Codon'].apply(lambda x: str(Seq(x).translate(table=5)))

In [10]:
df_plot

   Amino acids Codon
0            F   TTT
1            F   TTC
2            L   TTA
3            L   TTG
4            S   TCT
..         ...   ...
57           E   GAG
58           G   GGT
59           G   GGC
60           G   GGA
61           G   GGG

[62 rows x 2 columns]

In [25]:
df_plot = df_plot.set_index('Codon')

In [26]:
mean_rscu = pd.DataFrame(rscu.loc[rscu['OrganismName'] == 'Halicephalobus mephisto', 'TTT':'GGG'].median(axis=0), columns = ['RSCU'])

In [27]:
df_plot = pd.concat([df_plot, mean_rscu], axis=1)

In [28]:
df_plot = df_plot.reset_index()

In [29]:
df_plot.columns = ['Codons', 'Amino acids', 'RSCU']
df_plot

   Codons Amino acids      RSCU
0     TTT           F  1.965915
1     TTC           F  0.034085
2     TTA           L  1.455556
3     TTG           L  0.544444
4     TCT           S  2.626794
..    ...         ...       ...
57    GAG           E  0.348485
58    GGT           G  3.715686
59    GGC           G  0.105263
60    GGA           G  0.083333
61    GGG           G  0.000000

[62 rows x 3 columns]

In [16]:
import plotly.express as px

In [ ]:
fig = px.bar(df_plot, x="Amino acids", y='RSCU', color="Codons",
              color_discrete_map={
                'TTT': "red",'TCT': "red",'TAT': "red",'TGT': "red",'CTT': "red",'CCT': "red",'CAT': "red",'CGT': "red",'ATT': "red",'ACT': "red",'AAT': "red",'AGT': "red",'GTT': "red",'GCT': "red",'GAT': "red",'GGT': "red",
                'TTC': "grey",'TCC': "grey",'TAC': "grey",'TGC': "grey",'CTC': "grey",'CCC': "grey",'CAC': "grey",'CGC': "grey",'ATC': "grey",'ACC': "grey",'AAC': "grey",'AGC': "grey",'GTC': "grey",'GCC': "grey",'GAC': "grey",'GGC': "grey",
                'TTG': "green",'TCG': "green",'TGG': "green",'CTG': "green",'CCG': "green",'CAG': "green",'CGG': "green",'ATG': "green",'ACG': "green",'AAG': "green",'AGG': "green",'GTG': "green",'GCG': "green",'GAG': "green",'GGG': "green",
                'TTA': "blue",'TCA': "blue",'TGA': "blue",'CTA': "blue",'CCA': "blue",'CAA': "blue",'CGA': "blue",'ATA': "blue",'ACA': "blue",'AAA': "blue",'AGA': "blue",'GTA': "blue",'GCA': "blue",'GAA': "blue",'GGA': "blue"},
            labels = {'Codons': 'Кодоны', 'Amino acids': 'Аминокислоты'})
fig.show()