In [2]:
import pandas as pd
import numpy as np

In [5]:
codons = pd.read_csv(r'C:\Users\e_mulciber\Desktop\MitoClub\devil-worm\Body\2Derived\CodonUsageDerived.csv', sep=';')
codons = codons.loc[:, 'GenName':'Losers']
codons

,GenName,GenID,OrganismName,Taxonomy,Strand,TTT,TTC,TTA,TTG,TCT,...,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG,Gainers,Losers
0,nad2,AAN17804.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,61,1,21,26,12,...,0,4,12,1,1,2,0,0,0.113879,0.594306
1,nad4,AAN17805.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,82,1,31,21,24,...,3,6,13,3,5,1,1,0,0.095122,0.529268
2,cox1,AAN17806.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,57,2,29,23,27,...,3,4,40,4,7,4,0,1,0.198543,0.418944
3,nad6,AAN17807.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,35,0,12,8,5,...,0,0,5,2,0,0,1,0,0.059603,0.543046
4,cob,AAN17808.1,Brugia malayi,"Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...",1,57,1,26,12,13,...,3,1,12,2,1,5,0,0,0.151934,0.447514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449,ATP6,ATP6,Halicephalobus mephisto,NaN,1,27,1,19,5,8,...,7,1,6,0,0,0,1,0,0.149254,0.383085
450,ND2,ND2,Halicephalobus mephisto,NaN,1,64,0,22,8,8,...,1,2,7,0,4,0,1,0,0.156463,0.459184
451,CYTB,CYTB,Halicephalobus mephisto,NaN,1,66,0,29,12,10,...,5,1,16,1,0,0,1,0,0.154472,0.463415
452,COX3,COX3,Halicephalobus mephisto,NaN,1,43,1,27,6,8,...,4,2,18,1,0,0,0,1,0.155894,0.494297
453,ND4,ND4,Halicephalobus mephisto,NaN,1,80,1,42,9,27,...,8,0,16,2,2,0,0,1,0.128641,0.439320

In [15]:
ncodons = codons.loc[:, 'GenName':'Strand']

In [24]:
for column in codons:
    if len(column) == 3 and column[-1] == 'G' or column[-1] == 'T':
        sum_codon = codons[column[0:2] + 'A'] 
        print(sum_codon)
       # ncodons[column] = codons[column] /

0      21
1      31
2      29
3      12
4      26
       ..
449    19
450    22
451    29
452    27
453    42
Name: TTA, Length: 454, dtype: int64
0      21
1      31
2      29
3      12
4      26
       ..
449    19
450    22
451    29
452    27
453    42
Name: TTA, Length: 454, dtype: int64
0      1
1      0
2      1
3      0
4      1
      ..
449    1
450    1
451    0
452    0
453    2
Name: TCA, Length: 454, dtype: int64
0      1
1      0
2      1
3      0
4      1
      ..
449    1
450    1
451    0
452    0
453    2
Name: TCA, Length: 454, dtype: int64
0      0
1      1
2      0
3      1
4      0
      ..
449    1
450    1
451    1
452    0
453    0
Name: TAA, Length: 454, dtype: int64
0       4
1       1
2       7
3       1
4       7
       ..
449     2
450     5
451    12
452     5
453     7
Name: TGA, Length: 454, dtype: int64
0       4
1       1
2       7
3       1
4       7
       ..
449     2
450     5
451    12
452     5
453     7
Name: TGA, Length: 454, dtype: int64
0      0
1      0
2      4
3      0
4      0
      ..
449    0
450    1
451    1
452    1
453    0
Name: CTA, Length: 454, dtype: int64
0      0
1      0
2      4
3      0
4      0
      ..
449    0
450    1
451    1
452    1
453    0
Name: CTA, Length: 454, dtype: int64
0      0
1      1
2      6
3      0
4      3
      ..
449    0
450    2
451    1
452    0
453    1
Name: CCA, Length: 454, dtype: int64
0      0
1      1
2      6
3      0
4      3
      ..
449    0
450    2
451    1
452    0
453    1
Name: CCA, Length: 454, dtype: int64
0      0
1      1
2      5
3      0
4      3
      ..
449    3
450    1
451    5
452    0
453    2
Name: CAA, Length: 454, dtype: int64
0      0
1      1
2      5
3      0
4      3
      ..
449    3
450    1
451    5
452    0
453    2
Name: CAA, Length: 454, dtype: int64
0      0
1      2
2      0
3      0
4      0
      ..
449    0
450    0
451    0
452    0
453    0
Name: CGA, Length: 454, dtype: int64
0      0
1      2
2      0
3      0
4      0
      ..
449    0
450    0
451    0
452    0
453    0
Name: CGA, Length: 454, dtype: int64
0       4
1      11
2      11
3       3
4      12
       ..
449     7
450    17
451    11
452     5
453    24
Name: ATA, Length: 454, dtype: int64
0       4
1      11
2      11
3       3
4      12
       ..
449     7
450    17
451    11
452     5
453    24
Name: ATA, Length: 454, dtype: int64
0      1
1      0
2      2
3      0
4      1
      ..
449    1
450    1
451    1
452    0
453    1
Name: ACA, Length: 454, dtype: int64
0      1
1      0
2      2
3      0
4      1
      ..
449    1
450    1
451    1
452    0
453    1
Name: ACA, Length: 454, dtype: int64
0      3
1      4
2      3
3      1
4      3
      ..
449    6
450    8
451    7
452    5
453    7
Name: AAA, Length: 454, dtype: int64
0      3
1      4
2      3
3      1
4      3
      ..
449    6
450    8
451    7
452    5
453    7
Name: AAA, Length: 454, dtype: int64
0      2
1      2
2      5
3      1
4      4
      ..
449    2
450    1
451    3
452    3
453    4
Name: AGA, Length: 454, dtype: int64
0      2
1      2
2      5
3      1
4      4
      ..
449    2
450    1
451    3
452    3
453    4
Name: AGA, Length: 454, dtype: int64
0      1
1      4
2      6
3      1
4      2
      ..
449    3
450    1
451    5
452    3
453    3
Name: GTA, Length: 454, dtype: int64
0      1
1      4
2      6
3      1
4      2
      ..
449    3
450    1
451    5
452    3
453    3
Name: GTA, Length: 454, dtype: int64
0      0
1      0
2      3
3      0
4      2
      ..
449    0
450    0
451    1
452    0
453    1
Name: GCA, Length: 454, dtype: int64
0      0
1      0
2      3
3      0
4      2
      ..
449    0
450    0
451    1
452    0
453    1
Name: GCA, Length: 454, dtype: int64
0      0
1      3
2      3
3      0
4      3
      ..
449    7
450    1
451    5
452    4
453    8
Name: GAA, Length: 454, dtype: int64
0      0
1      3
2      3
3      0
4      3
      ..
449    7
450    1
451    5
452    4
453    8
Name: GAA, Length: 454, dtype: int64
0      1
1      5
2      7
3      0
4      1
      ..
449    0
450    4
451    0
452    0
453    2
Name: GGA, Length: 454, dtype: int64
0      1
1      5
2      7
3      0
4      1
      ..
449    0
450    4
451    0
452    0
453    2
Name: GGA, Length: 454, dtype: int64
0      0
1      1
2      0
3      1
4      0
      ..
449    1
450    1
451    1
452    0
453    0
Name: TAA, Length: 454, dtype: int64

In [27]:
test = codons.iloc[1, :]
test

GenName                                                      nad4
GenID                                                  AAN17805.1
OrganismName                                        Brugia malayi
Taxonomy        Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chrom...
Strand                                                          1
                                      ...
GGG                                                             1
TAA                                                             1
TAG                                                             0
Gainers                                                  0.095122
Losers                                                   0.529268
Name: 1, Length: 71, dtype: object

In [36]:
np.dtype(test)

dtype('O')

In [35]:
for column in test:
    print(column)
    '''
    if len(column) == 3 and column[-1] == 'G' or column[-1] == 'T':
        sum_codon = codons[column[0:2] + 'A'] 
        print(sum_codon)
        '''

nad4
AAN17805.1
Brugia malayi
Eukaryota, Metazoa, Ecdysozoa, Nematoda, Chromadorea, Rhabditida, Spirurina, Spiruromorpha, Filarioidea, Onchocercidae, Brugia
1
82
1
31
21
24
0
0
1
28
3
17
0
1
3
2
0
0
1
6
1
1
0
6
0
1
1
2
0
2
1
26
1
11
7
5
1
0
0
9
0
4
4
14
2
2
3
34
0
4
1
8
1
0
0
5
0
3
6
13
3
5
1
1
0
0.0951219512195122
0.5292682926829269

In [57]:
worm = pd.read_csv(r'C:\Users\e_mulciber\Desktop\MitoClub\devil-worm\Body\2Derived\MephistoBiasDerived.csv', sep=';')
worm = worm.loc[12:24, :].dropna(axis=1)
worm

,GenName,OrganismName,TTT,TTG,TCT,TCG,TAT,TGT,TGG,CTT,...,GTT,GTG,GCT,GCG,GAT,GAG,GGT,GGG,Gainers,Losers
12,COX1,Halicephalobus mephisto,"0,409090909","0,172727273","0,923076923",0,1,"0,277777778","0,166666667","0,727272727",...,"0,914285714",0,"0,95",0,"0,695652174","0,130434783","0,958333333",0,0.190476,0.401905
13,COX2,Halicephalobus mephisto,"0,384615385","0,153846154","0,9","0,1",1,"0,615384615",0,"0,666666667",...,"0,75",0,"0,8",0,"0,526315789","0,052631579","0,7",0,0.188841,0.373391
14,ND3,Halicephalobus mephisto,"0,55","0,175",1,0,1,0,0,1,...,"0,833333333",0,0,0,"0,2","0,2",1,0,0.099099,0.477477
15,ND5,Halicephalobus mephisto,"0,650793651","0,111111111","0,954545455",0,"0,961538462","0,523809524","0,238095238","0,928571429",...,"0,88",0,1,0,"0,6","0,133333333","0,833333333","0,055555556",0.155039,0.490310
16,ND6,Halicephalobus mephisto,"0,653846154","0,096153846","0,666666667","0,111111111",1,"0,5","0,166666667",1,...,1,0,1,0,1,0,1,0,0.107143,0.478571
17,ND4L,Halicephalobus mephisto,"0,586206897","0,034482759",1,0,1,0,"0,5",0,...,1,0,0,0,"0,5",0,0,0,0.089744,0.525641
18,ND1,Halicephalobus mephisto,"0,541666667","0,15625","0,941176471",0,1,"0,625",0,"0,8",...,"0,791666667","0,041666667",1,0,"0,214285714","0,142857143","0,916666667",0,0.116838,0.481100
19,ATP6,Halicephalobus mephisto,"0,519230769","0,096153846","0,8","0,1",1,"0,714285714",0,"0,666666667",...,"0,666666667","0,083333333","0,857142857",0,"0,272727273","0,090909091",1,0,0.149254,0.383085
20,ND2,Halicephalobus mephisto,"0,680851064","0,085106383","0,888888889",0,"0,851851852","0,25","0,125","0,875",...,"0,863636364","0,045454545",1,0,"0,4","0,4","0,636363636",0,0.156463,0.459184
21,CYTB,Halicephalobus mephisto,"0,61682243","0,112149533",1,0,1,"0,125","0,125","0,75",...,"0,838709677",0,"0,857142857","0,071428571","0,538461538","0,076923077","0,941176471",0,0.154472,0.463415
22,COX3,Halicephalobus mephisto,"0,558441558","0,077922078","0,888888889",0,1,"0,333333333","0,25","0,666666667",...,"0,818181818","0,045454545",1,0,"0,538461538","0,153846154","0,947368421",0,0.155894,0.494297
23,ND4,Halicephalobus mephisto,"0,606060606","0,068181818","0,9",0,"0,923076923","0,363636364",0,1,...,"0,722222222","0,111111111","0,928571429",0,"0,333333333",0,"0,8",0,0.128641,0.439320

In [58]:
worm.loc[:, 'TTT':'GTT'] = #сюда регулярное выражение замена запятой на точку
worm.loc[:, 'TTT':'GTT'] = worm.loc[:, 'TTT':'GGG'].apply(lambda x: pd.to_numeric(x, errors='coerce'))
for column in worm:
    worm.loc[24, 'TTT':'GTT'] = worm.loc[:, 'TTT':'GGG'].sum() 
    
worm

,GenName,OrganismName,TTT,TTG,TCT,TCG,TAT,TGT,TGG,CTT,...,GTT,GTG,GCT,GCG,GAT,GAG,GGT,GGG,Gainers,Losers
12,COX1,Halicephalobus mephisto,"0,409090909","0,172727273","0,923076923",0,1,"0,277777778","0,166666667","0,727272727",...,"0,914285714",0,"0,95",0,"0,695652174","0,130434783","0,958333333",0,0.190476,0.401905
13,COX2,Halicephalobus mephisto,"0,384615385","0,153846154","0,9","0,1",1,"0,615384615",0,"0,666666667",...,"0,75",0,"0,8",0,"0,526315789","0,052631579","0,7",0,0.188841,0.373391
14,ND3,Halicephalobus mephisto,"0,55","0,175",1,0,1,0,0,1,...,"0,833333333",0,0,0,"0,2","0,2",1,0,0.099099,0.477477
15,ND5,Halicephalobus mephisto,"0,650793651","0,111111111","0,954545455",0,"0,961538462","0,523809524","0,238095238","0,928571429",...,"0,88",0,1,0,"0,6","0,133333333","0,833333333","0,055555556",0.155039,0.490310
16,ND6,Halicephalobus mephisto,"0,653846154","0,096153846","0,666666667","0,111111111",1,"0,5","0,166666667",1,...,1,0,1,0,1,0,1,0,0.107143,0.478571
17,ND4L,Halicephalobus mephisto,"0,586206897","0,034482759",1,0,1,0,"0,5",0,...,1,0,0,0,"0,5",0,0,0,0.089744,0.525641
18,ND1,Halicephalobus mephisto,"0,541666667","0,15625","0,941176471",0,1,"0,625",0,"0,8",...,"0,791666667","0,041666667",1,0,"0,214285714","0,142857143","0,916666667",0,0.116838,0.481100
19,ATP6,Halicephalobus mephisto,"0,519230769","0,096153846","0,8","0,1",1,"0,714285714",0,"0,666666667",...,"0,666666667","0,083333333","0,857142857",0,"0,272727273","0,090909091",1,0,0.149254,0.383085
20,ND2,Halicephalobus mephisto,"0,680851064","0,085106383","0,888888889",0,"0,851851852","0,25","0,125","0,875",...,"0,863636364","0,045454545",1,0,"0,4","0,4","0,636363636",0,0.156463,0.459184
21,CYTB,Halicephalobus mephisto,"0,61682243","0,112149533",1,0,1,"0,125","0,125","0,75",...,"0,838709677",0,"0,857142857","0,071428571","0,538461538","0,076923077","0,941176471",0,0.154472,0.463415
22,COX3,Halicephalobus mephisto,"0,558441558","0,077922078","0,888888889",0,1,"0,333333333","0,25","0,666666667",...,"0,818181818","0,045454545",1,0,"0,538461538","0,153846154","0,947368421",0,0.155894,0.494297
23,ND4,Halicephalobus mephisto,"0,606060606","0,068181818","0,9",0,"0,923076923","0,363636364",0,1,...,"0,722222222","0,111111111","0,928571429",0,"0,333333333",0,"0,8",0,0.128641,0.439320
24,NaN,NaN,"0,4090909090,3846153850,550,6507936510,6538461...","0,1727272730,1538461540,1750,1111111110,096153...","0,9230769230,910,9545454550,66666666710,941176...","00,1000,111111111000,1000000,1000,111111111000...","1110,96153846211110,851851852110,9230769231110...","0,2777777780,61538461500,5238095240,500,6250,7...","0,166666667000,2380952380,1666666670,5000,1250...","0,7272727270,66666666710,928571429100,80,66666...",...,"0,9142857140,750,8333333330,88110,7916666670,6...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for record in SeqIO.parse(f'C:/Users/e_mulciber/Desktop/MitoClub/devil-worm/Body/1Raw/mtDNA - mephisto mtDNA project.gb', format='genbank')

In [9]:
from Bio.Data import CodonTable

In [10]:
table = CodonTable.unambiguous_dna_by_id[5]

In [83]:
c = {'TTT': 40, 'TTA': 2, 'TTC': 10, 'TTG': 4, 'CCA': 8, 'CCC': 0, 'CCT': 33, 'CCG': 27, 'TAA': 0, 'TAG': 1, 'GAT': 0, 'GAC': 0}
ret = pd.Series(data=c, index=['TTT', 'TTA', 'TTC', 'TTG', 'CCA', 'CCC', 'CCT', 'CCG', 'TAA', 'TAG', 'GAT', 'GAC'])
ret

TTT    40
TTA     2
TTC    10
TTG     4
CCA     8
CCC     0
CCT    33
CCG    27
TAA     0
TAG     1
GAT     0
GAC     0
dtype: int64

In [16]:
ret['TTT']

40

In [23]:
test = [1, 40, 5]
sum(test)

46

In [87]:
ret_new = pd.Series(data=0.0, index=ret.index)
for i in ret.index:
    if i in table.stop_codons:
        ret_new[i] = ret[i]
        continue
    ca = []
    for k in ret.index:
        if k in table.stop_codons:
            continue
        if table.forward_table[i] == table.forward_table[k]:
            ca.append(ret[k])    
    if sum(ca) == 0:
        print('NANY')
        ret_new[i] = ret[i]
        continue
    ret_new[i] = (len(ca) * ret[i]) / (sum(ca))
                        
ret_new

NANY
NANY

TTT    1.600000
TTA    0.666667
TTC    0.400000
TTG    1.333333
CCA    0.470588
CCC    0.000000
CCT    1.941176
CCG    1.588235
TAA    0.000000
TAG    1.000000
GAT    0.000000
GAC    0.000000
dtype: float64

In [69]:
if 'TAA' in table.stop_codons:
    print('Trut')

Trut

In [82]:
table.forward_table['TGG']

'W'